root = true

[*.svg]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.svg.hbs]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.js]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
